<a href="https://colab.research.google.com/github/Badar97/Progetto_DataScience/blob/main/TimeSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [35]:
url = "https://raw.githubusercontent.com/Badar97/Progetto_DataScience/main/Python/NorwayMeteoDataCompleted.csv"
meteo = pd.read_csv(url)

In [36]:
meteo.drop(['Unnamed: 0'], inplace=True, axis=1)

In [20]:
meteo.isna().sum().sum()

1302253

In [37]:
print ( 'dimensione dataset iniziale: ' + str(meteo.shape) )


meteo = meteo.dropna()
meteo.isna().sum().sum()

print ( 'dimensione dataset senza NaN: ' + str(meteo.shape) )

dimensione dataset iniziale: (237629, 13)
dimensione dataset senza NaN: (21799, 13)

In [38]:
newname = {'sourceId': 'sourceID', 'latitude': 'Latitude', 'longtitude': 'Longitude',
           'max(air_temperature P1D)': 'max_air_temp_perday', 'max(relative_humidity P1D)': 'max_rel_hum_perday', 
           'max(wind_speed P1D)': 'max_wind_speed_perday','mean(air_temperature P1D)': 'mean_air_temp_perday',
           'mean(relative_humidity P1D)': 'mean_rel_hum_perday', 'mean(wind_speed P1D)': 'mean_wind_speed_perday', 
           'sum(precipitation_amount P1D)': 'sum_precip_amount_perday', 'day': 'Day', 'month': 'Month', 'year': 'Year'}
meteo.rename(columns=newname, inplace=True)
meteo.head()

,sourceID,Latitude,Longitude,max_air_temp_perday,max_rel_hum_perday,max_wind_speed_perday,mean_air_temp_perday,mean_rel_hum_perday,mean_wind_speed_perday,sum_precip_amount_perday,Day,Month,Year
34,SN69100,63.4597,10.9305,-2.3,83.0,4.1,-8.50,79.0,3.0,0.00,1,1,2010
40,SN91380,69.3875,20.2823,-9.2,86.0,5.1,-11.75,71.0,2.6,0.30,1,1,2010
41,SN91740,69.7887,20.9553,-8.4,72.0,8.9,-10.90,67.0,6.9,0.00,1,1,2010
80,SN69100,63.4597,10.9305,-13.4,84.0,4.6,-15.15,82.0,3.6,0.00,2,1,2010
86,SN91380,69.3875,20.2823,-8.7,79.0,3.3,-12.35,73.0,2.3,0.15,2,1,2010

In [39]:
cols=['Year', 'Month', 'Day']
meteo['Date'] = meteo[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")
meteo['Date']=pd.to_datetime(meteo['Date'])
meteo.head()

,sourceID,Latitude,Longitude,max_air_temp_perday,max_rel_hum_perday,max_wind_speed_perday,mean_air_temp_perday,mean_rel_hum_perday,mean_wind_speed_perday,sum_precip_amount_perday,Day,Month,Year,Date
34,SN69100,63.4597,10.9305,-2.3,83.0,4.1,-8.50,79.0,3.0,0.00,1,1,2010,2010-01-01
40,SN91380,69.3875,20.2823,-9.2,86.0,5.1,-11.75,71.0,2.6,0.30,1,1,2010,2010-01-01
41,SN91740,69.7887,20.9553,-8.4,72.0,8.9,-10.90,67.0,6.9,0.00,1,1,2010,2010-01-01
80,SN69100,63.4597,10.9305,-13.4,84.0,4.6,-15.15,82.0,3.6,0.00,2,1,2010,2010-01-02
86,SN91380,69.3875,20.2823,-8.7,79.0,3.3,-12.35,73.0,2.3,0.15,2,1,2010,2010-01-02

In [41]:
meteo.info

<bound method DataFrame.info of        sourceID  Latitude  Longitude  max_air_temp_perday  max_rel_hum_perday  \
34      SN69100   63.4597    10.9305                 -2.3                83.0
40      SN91380   69.3875    20.2823                 -9.2                86.0
41      SN91740   69.7887    20.9553                 -8.4                72.0
80      SN69100   63.4597    10.9305                -13.4                84.0
86      SN91380   69.3875    20.2823                 -8.7                79.0
...         ...       ...        ...                  ...                 ...
235236  SN50110   60.3372     6.2175                 14.6                95.0
235239  SN50110   60.3372     6.2175                 12.2                95.0
235242  SN50110   60.3372     6.2175                 13.5                97.0
235245  SN50110   60.3372     6.2175                 13.2                95.0
235248  SN50110   60.3372     6.2175                 11.1                96.0

        max_wind_speed_perday  mean_air_temp_perday  mean_rel_hum_perday  \
34                        4.1                 -8.50                 79.0
40                        5.1                -11.75                 71.0
41                        8.9                -10.90                 67.0
80                        4.6                -15.15                 82.0
86                        3.3                -12.35                 73.0
...                       ...                   ...                  ...
235236                    0.7                 12.00                 93.0
235239                    0.8                 10.65                 88.0
235242                    1.5                 10.50                 91.0
235245                    2.2                 10.70                 83.0
235248                    1.6                  8.75                 86.0

        mean_wind_speed_perday  sum_precip_amount_perday  Day  Month  Year  \
34                         3.0                      0.00    1      1  2010
40                         2.6                      0.30    1      1  2010
41                         6.9                      0.00    1      1  2010
80                         3.6                      0.00    2      1  2010
86                         2.3                      0.15    2      1  2010
...                        ...                       ...  ...    ...   ...
235236                     0.4                     18.00   12      9  2019
235239                     0.3                     16.00   13      9  2019
235242                     0.6                     27.60   14      9  2019
235245                     1.0                     45.40   15      9  2019
235248                     0.7                     20.10   16      9  2019

             Date
34     2010-01-01
40     2010-01-01
41     2010-01-01
80     2010-01-02
86     2010-01-02
...           ...
235236 2019-09-12
235239 2019-09-13
235242 2019-09-14
235245 2019-09-15
235248 2019-09-16

[21799 rows x 14 columns]>